*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* It's considered a slightly better practice to do it like this bc it makes it easy to change 
  when using plugins   */
}

html {

  font-size: 62.5%; /* 1rem = 10px 10px/16px=0.625 */
 

}

body {
  box-sizing: border-box;
}

::selection{
  background-color: $color-primary;
  color: $color-white;
}